body {
    background-color: #222;
    color: #FFF;
}

main {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.title {
    padding: 1rem;
    font-size: 3rem;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: 1rem;
    padding-bottom: 2rem;
    color: #EDEDED;
}

.upload input:disabled {
    color: #CCC;
    cursor: not-allowed;
}

.progress-bar {
    height: 2em;
    width: 50vw;
    margin: 1em;
    background-color: #F5F5F5;
    border-radius: 2px;
    border: thin solid #FFF;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}

.progress {
    background-color: rgb(0, 110, 227);
    transition: width .2s linear;
    height: 100%;
}

.download {
    border-radius: 0.5em;
    background-color: #ff6600;
    color: #FFF;
    padding: 1em 0.75em;
    text-decoration: none;
}

.download-original {
    background-color: #ff6600;
}

.download-lossless {
    background-color: rgb(41, 174, 236);
}

.download-lossy {
    background-color: #6f00ff;
}

.download-original:hover,
.download-original:active,
.download-original:focus {
    background-color: #DA5700;
}

.download-lossless:hover,
.download-lossless:active,
.download-lossless:focus {
    background-color: rgb(32, 131, 177);
}

.download-lossy:hover,
.download-lossy:active,
.download-lossy:focus {
    background-color: #4900a8;
}

hr {
    border: none;
}

.hidden  {
    visibility: hidden;
}

fieldset {
    padding: 0;
    border: 0;
}

.status {
    font-size: 0.9em;
}

.status-error {
    color: #F00;
    font-weight: bold;
}